<!DOCTYPE html>
<html ng-app="happyCoding">
  <head>
      <meta charset='UTF-8'/>
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <title>진짜 여행의 시작 :: 마이리얼트립</title>

      <link rel="stylesheet" href="assets/stylesheets/styles.css">

  </head>
  <body ng-controller="MainController">

  		<div id='filter-bar'>
         <div id='tour-type-filter'>
            <label>
               <input type="checkbox" ng-model="typeFilter.individual" ng-click="setPage(1)"> 개별여행
            </label>
            <label>
               <input type="checkbox" ng-model="typeFilter.group" ng-click="setPage(1)"> 그룹여행
            </label>
         </div>

         <div id='tour-duration-filter'>
            <label>
               <input type="checkbox" ng-model="durationFilter.halfDay"> 반나절
            </label>
            <label>
               <input type="checkbox" ng-model="durationFilter.day"> 하루
            </label>
            <label>
               <input type="checkbox" ng-model="durationFilter.dayPlus"> 하루이상
            </label>
            <label>
               <input type="checkbox" ng-model="durationFilter.flexible"> 맞춤시간
            </label>
         </div>

         <div id='tour-transportation-filter'>
            <label>
               <input type="checkbox" ng-model="transportationFilter.walk"> 도보
            </label>
            <label>
               <input type="checkbox" ng-model="transportationFilter.auto"> 차량
            </label>
            <label>
               <input type="checkbox" ng-model="transportationFilter.bike"> 자전거
            </label>
         </div>
      </div>

      <div id='sorting-bar'>
         <ul>
            <li>인기순</li>
            <li>리뷰순</li>
            <li>가격순</li>
         </ul>
      </div>

      <div class="container"> 
  			<div class="row">

            <div ng-repeat="tour in tours.data | filter: filterList | offset: (currentPage-1) * itemsPerPage | limitTo: itemsPerPage" class="col-sm-6 col-md-4">
       				
               <div class="card">
                  <img ng-src="{{ tour.profile_medium_url }}">

                  <div class="main-info">
                     <div class="guidename">{{ tour.username }}</div>
                     <div class="title">{{ tour.title}}</div>
                     <div class="price">{{ tour | formatPrice }} <span>/ 1인</span></div>
                  </div>
         					
                  <div class="tourimage"> </div>
                  
                  <div class="sub-info">
                     <div class="sub-details">
                          <span>{{ tour.private_tour | formatTourType }} &middot; {{ tour | formatTourDuration}} &middot; {{ tour.tour_type | formatTourTransportation}}</span>
                     </div>
                     <div class="sub-reviews">
                        <div ng-class="scoreToStar(tour)"></div>
                        <span>{{ tour.total_traveler_reviews | formatReviews}}</span>
                     </div>
                  </div>
                  
                  <div class="city-info">
                     {{ tour.cityName }}
                  </div>
               </div>
            </div>

          </div>
      </div>

      <div class="pagination">
            <ul>
               <li ng-class="prevPageDisabled()">
                  <a href ng-click="prevPage()">prev</a>
               </li>
               <li ng-repeat="n in pageRange()" ng-class="{active: n == currentPage}" ng-click="setPage(n)">
                  <a href="#">{{n}}</a>
               </li>
               <li ng-class="nextPageDisabled()">
                  <a href ng-click="nextPage()">next</a>
               </li>
            </ul>
      </div>

  		<script src="bower_components/underscore/underscore-min.js" type="text/javascript"></script>
  		<script src="bower_components/jquery/dist/jquery.min.js" type="text/javascript"></script>  		
  		<script src="bower_components/angular/angular.min.js" type="text/javascript"></script>
  		<script src="bower_components/angular-resource/angular-resource.min.js" type="text/javascript"></script>	
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" type="text/javascript"></script>  		
  		
		  <!-- angular module --> 
  		<script src="assets/javascripts/app.js" type="text/javascript"></script>
  		<!-- angular controller --> 
		<script src="assets/javascripts/controllers/MainController.js" type="text/javascript"></script>


		

  </body>
</html>


