/*  */

/* 
306 px width
= (70+10) * 3 + ?

342 px height
stroke border 197 197 197 1px
margin 10~12

948 container
*/

.col-md-4 {
	border: 1px solid rgba(197, 197, 197, 1) ;
	margin: 12px ;

	width: 306px;
	height: 342px;
}

.col-md-4 img {
	position: absolute;
	top: 10px;
	left: 10px;

	width: 40px;
	height: 40px;
	border-radius: 20px
}


.main-info {
	position: absolute;
	left: 62px;
	top: 10px;
}

.main-info .guidename {
	font-family: "Apple SD Gothic Neo", sans-serif ; 
	font-size: 12px ; 
	font-weight: 500 ; 
	color: rgba(189, 189, 189, 1);
}

.main-info .title {
	font-family: "Apple SD Gothic Neo", sans-serif ; 
	font-size: 12px ; 
	font-weight: 700 ; 
	color: rgba(66, 66, 66, 1);	

}

.main-info .price {
	font-family: "Apple SD Gothic Neo", sans-serif ; 
	font-size: 14px ; 
	font-weight: 500 ; 
	color: rgba(3, 169, 244, 1) ; 
}

.main-info .price span {
	font-size: 12px ; 
	color: rgba(189, 189, 189, 1);
}


.tourimage {
	position: absolute;
	top: 98px;
	left: 0;
	background-color: rgba(111,111,111,0.5);

	width: 100%;
	height: 166px; 
}

.sub-info {
	position: absolute;
	top: 266px;
	left: 0;
	width: 100% ; 

	text-align: center ; 
}

.sub-info .sub-details {
	position: relative ; 
	top: 8px;
}

.sub-info .sub-reviews {
	position: relative ; 
	top: 6px;
	display: inline-block ; 
}

.fiveStar {
	background-image: url(../images/five_stars.png);
	width: 58px;
	height: 14px;
	display: inline-block;
}

.fourStar {
	background-image: url(../images/four_stars.png);
	width: 58px;
	height: 14px;
	display: inline-block;
}

.threeStar {
	background-image: url(../images/three_stars.png);
	width: 58px;
	height: 14px;
	display: inline-block;
}

.twoStar {
	background-image: url(../images/two_stars.png);
	width: 58px;
	height: 14px;
	display: inline-block;
}

.oneStar {
	background-image: url(../images/one_star.png);
	width: 58px;
	height: 14px;
	display: inline-block;
}

.zeroStar {
	display: hidden;	

}

.disabled {
	opacity: 0.2; 
}

.active {
	color: rgba(117, 117, 117, 1);
}

a, a:visited, a:hover, a:active {
	color: inherit;
	text-decoration: none ; 
};